/* CSS RULES FOR HTML TAGS */
body {
    font-family: sans-serif;
    background-color:#00a0dd
}

h1, h2, h3, h4, h5, h6 {
    /* font-family:  'BUKA','Alergia Regular',sans-serif; */
    color: white
}

/* CSS RULES FOR CLASS NAMES WE DEFINE OURSELVES */
.graph-heading {
      
        padding-top: 5%;
        text-transform: none;   
        font-weight: normal;
    
    }

.graph-heading-span{
    box-shadow: inset 0 -0.5em 0 0 #d80052;
    padding: 0 10px;
}

.testimonialsFrame {
    margin-top: 2vw;
}

.testimonialsFrame p{
    margin-top: 2vw;
    margin-bottom:2vw;
    border-color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: solid white;
    border-width: 0.7vw;
    color: white;
    padding: 1vw 1vw;

}