body {
    font-family: sans-serif;
    background-color: #00a0dd;
}
h1, h2, h3, h4, h5, h6 {
    font-family:  'BUKA','Alergia Regular',sans-serif;
    color: #d80052
}

.graph-heading {
        font-family: sans-serif;
        color: white;
        font-size: 3vw;
        padding-top: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-left: 5%;       
}

.graph-heading-span{
    box-shadow: inset 0 -0.5em 0 0 #d80052;
    padding: 0 10px;
}