/* CSS RULES FOR HTML TAGS */
body {
    font-family: sans-serif;
    background-color:white
}

h1, h2, h3, h4, h5, h6 {
    /* font-family:  'BUKA','Alergia Regular',sans-serif; */
    color: white
}

/* CSS RULES FOR CLASS NAMES WE DEFINE OURSELVES */
.graph-heading {
      
        padding-top: 5%;
        text-transform: none;   
        font-weight: normal;
    
    }

.graph-heading-span{
    box-shadow: inset 0 -0.5em 0 0 #d80052;
    padding: 0 10px;
}

.testimonialsFrame {
    margin-top: 2vw;
}

.testimonialsFrame p{
    margin-top: 2vw;
    margin-bottom:2vw;
    border-color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: solid white;
    border-width: 0.3vw;
    color: white;
    padding: 1vw 1vw;
    animation-name: opacityOn;
    animation-duration: 1s;

}


@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.overviewNumber {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.overviewText {
    color: white;
    font-weight: lighter;
    font-size: medium;
}

.overviewSurvivorContainer {
    text-align: center;
}



.head-of-app{
    background-color: white;
    height:17vw;
    text-align:center;
    color:#d80052
}
.head-of-app h1{
    color:#d80052;
    font-family:  'BUKA';
    font-size: 11vw;
}

.app-entry{
    background-color: #00a0dd;
    padding-top: 1.5vw
}

footer {
    height:14vw
}

@font-face {
    font-family: "BUKA";
    src: url("WTC-BUKA.woff") format('woff');
}